<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply for the Internship</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<style>
.container {
    position: relative;
    background-color: rgba(1, 1, 1, 0.5); /* Adjust the alpha value for transparency */
    border-radius: 10px; /* Optional: Add border-radius for rounded corners */
    padding-left: 30px;
    padding-right: 30px;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
    z-index: -1;
}
</style>
<body>

    <div class="container mx-auto mt-5 rounded pt-3">
        <form action="bisag_internship" method="post" enctype="multipart/form-data">

			<h2 class="text-white text-center py-3">Apply for the Internship</h2>
            <div class="row mb-3">
                <div class="col">
                    <label for="firstName" class="form-label text-white">First Name:</label>
                    <input type="text" class="form-control" placeholder="Only characters" id="firstName" name="firstName" required>
                </div>
                <div class="col">
                    <label for="lastName" class="form-label text-white">Last Name:</label>
                    <input type="text" class="form-control" placeholder="Only characters" id="lastName" name="lastName" required>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <label for="contactNo" class="form-label text-white">Contact No:</label>
                    <input type="tel" class="form-control" placeholder="Ten digits only" id="contactNo" name="contactNo" required>
                </div>
                <div class="col">
                    <label for="email" class="form-label text-white">Email ID:</label>
                    <input type="email" class="form-control" placeholder="example@domain.com" id="email" name="email" required>
                </div>
            </div>

            <div class="row mb-3">
            	<div class="col">
                    <label for="collegeName" class="form-label text-white">College Name:</label>
                    <select class="form-select" id="collegeName" name="collegeName" required>
                        <option value="College A">College A</option>
                        <option value="College B">College B</option>
                    </select>
                </div>
                <div class="col">
                    <label for="branch" class="form-label text-white">Branch:</label>
                    <select class="form-select" id="branch" name="branch" required>
                        <option value="Branch A">Branch A</option>
                        <option value="Branch B">Branch B</option>
                    </select>
                </div>
                <div class="col">
                    <label for="semester" class="form-label text-white">Semester:</label>
                    <input type="number" class="form-control" placeholder="Between 1 to 8" id="semester" name="semester" required>
                </div>
                
            </div>

            <div class="row mb-3">
                <div class="col">
                    <label for="icardImage" class="form-label text-white">ID Card Image:</label>
                    <input type="file" class="form-control" id="icardImage" name="icardImageone" required>
                </div>
                <div class="col">
                    <label for="nocPdf" class="form-label text-white">NOC:</label>
                    <input type="file" class="form-control" id="nocPdf" name="nocPdfone" required>
                </div>
                <div class="col">
                    <label for="resumePdf" class="form-label text-white">Resume:</label>
                    <input type="file" class="form-control" id="resumePdf" name="resumePdfone" required>
                </div>
            </div>

            

            <div class="row mb-3 text-center py-4">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>

        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

</body>
</html>
